<!DOCTYPE html>
<html>
    <head>
        <title>Seamail Chatting Page</title>
    </head>

    <body class="text-center">
        <h2>Enter the Chat Room</h2>
    <div class="chatting">
        <form action="{{ url_for('chatroom') }}" method="POST">
            <div>
                <label>Recipient: </label>
                <input placeholder="Enter recipient's username or email" name="recipient">
                <button type="submit" name="create_room">Create a room</button>
            </div>
            <div>
                <br/>
                <label>Or enter an existing chat room: </label>
                <input placeholder="Enter room number" name="room_number">
                <button type="submit" name="enter_room">Join a room</button>
            </div>
        </form>
    </div>
    </body>
</html>