{% extends "base.html" %} {% block title %}TodoList{% endblock %}
{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(247, 247, 247, 0.15); backdrop-filter: blur(5px)">
  <a class="navbar-brand text-warning bold h4" href="/mailroom">SeaMail</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning" href="/enterance">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/todolist">Todo List<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/outbox">Outbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/accounts">Other Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn text-warning" href="/logout">Your Account</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
<!DOCTYPE html>
<html>
    <head>
        <title>Seamail Chatting Page</title>
    </head>

    <body class="text-center">
        <h2>Enter the Chat Room</h2>
    <div class="chatting">
        <form action="{{ url_for('chatroom') }}" method="POST">
            <div>
                <input placeholder="Enter recipient's username or email" name="recipient">
                <button type="submit" name="create_room">Create a room</button>
            </div>
            <div>
                <br/>
                <label>Or enter an existing chat room: </label>
                <input placeholder="Enter room number" name="room_number">
                <button type="submit" name="enter_room">Join a room</button>
            </div>
        </form>
    </div>
    </body>
</html>