{% extends "base.html" %} {% block title %}TodoList{% endblock %}
{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(247, 247, 247, 0.15); backdrop-filter: blur(5px)">
  <a class="navbar-brand text-warning bold h4" href="/mailroom">SeaMail</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning" href="/enterance">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/todolist">Todo List<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/outbox">Outbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/accounts">Other Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn text-warning" href="/logout">Your Account</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
    <div class="chatting text-center" style="display: block; height: 50px; width: auto; margin: auto;">
        <h2 class="text-warning">Enter the Chat Room</h2>
        <form action="{{ url_for('enterance') }}" method="POST">
            <div class="form-outline">
                <input type="text" class="form-control" placeholder="Enter recipient's username" name="recipient">
                <button class="btn btn-secondary" type="submit" name="create_room">Start a New Message Thread</button>
            </div>
          </br></br>
        </form>
    </div>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <ul style="text-decoration: none; background-color: aliceblue; border-radius: 10px;">
      <p style="text-decoration: none;">{{ message }}</p>
      </ul>
      {% endfor %}
      {% endif %}
      {% endwith %}

  
{% endblock %}