<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" type="text/css" href="./frontend/public/index.css">
        <script src="jquery.js"></script>
        <script>
            $(function(){
                $("#navbar").load("navbar.html")
            });
        </script>
    </head>
    <body>
        <div id="navbar"></div>
        <h1>SeaMail</h1>
        <p>Welcome to Seamail!</p>
        <p>Direct to....</p>
        <p><a href = 'register'>Register page</a></p>
        <p><a href = 'login'>Log in page</a></p>

    </body>
</html>