<!DOCTYPE html>
<html>
    <head>
        <title>Seamail Logout Page</title>
    </head>

    <body>
        <h1>{{curren_user}}'s Account Page</h1>
        <p>Hello, {{current_user}}</p>
        <!--replace image with user's profile pic-->
        <!--<img src = "Blank-profile.png" alt="userpic" width="500" height="500"> </img>-->
        <p>Show info about the user logged in</p>
    </br></br>
        <p>You have # tasks on your Todo list!</p>
    </br></br>
        <p>You have # emails in your inbox!</p>   
    </br></br>
    <div align = "left">
        <a href="afterLogout">
            <button type = "button" onclick = "alert('Are you sure?')">Log Out</button>
        </a>
    </div>
    <div align = "right">
        <button type = "button" onclick = "alert('Are you sure you want to delete your account?')">Delete Account</button>
    </div>
        
        </form>
    </body>
</html>
