{% extends "base.html" %} {% block title %}TodoList{% endblock %}
{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(247, 247, 247, 0.15); backdrop-filter: blur(5px)">
  <a class="navbar-brand text-warning bold h4" href="/mailroom">SeaMail</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning" href="/enterance">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/todolist">Todo List<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/outbox">Outbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/accounts">Other Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn text-warning" href="/logout">Your Account</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Seamail Logout Page</title>
    </head>

    <body>
        <h1>{{current_user}}'s Account Page</h1>
        <p>Hello, {{current_user}}</p>
        <!--replace image with user's profile pic-->
        <!--<img src = "Blank-profile.png" alt="userpic" width="500" height="500"> </img>-->
        <p>Show info about the user logged in</p>
    </br></br>
        <p>You have # tasks on your Todo list!</p>
    </br></br>
        <p>You have # emails in your inbox!</p>   
    </br></br>
    <div align = "left">
        <form action="{{ url_for('logout') }}" method="POST">
            <button id="logout" type = "submit" name = "logout_button" onclick = "alert('Are you sure?')">Log Out</button>
            </br></br>
            <button id="delete" type = "submit" name = "delete_button" onclick = "alert('Are you sure you want to delete your account?')">Delete Account</button>
            </br></br>
            <button id="change" type = "submit" name = "change_password">Change Password</button>
        </form>
        
    </div>
    </body>
</html>
{% endblock %}