{% extends "base.html" %} {% block title %}Your Mailroom{% endblock %} 
{% block navbar%} 
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(247, 247, 247, 0.15); backdrop-filter: blur(5px);">
    <div class="container-fluid justify-content-center">
        <div class="navbar-header">
            <a class="navbar-brand text-warning bold h4" href="#">SeaMail</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link text-warning h4" href="/chat">Chat</a></li>
            <li class="nav-item"><a class="nav-link text-warning h4" href="/todolist">TodoList</a></li>
        </ul>
        <a class="nav-link btn btn-outline-dark" href="logout">Account</a>
    </div>
</nav>
{% endblock%}
{% block
content%}
  <h1>Email List for {{current_user}}</h1>
  <div align="right">
    <a href="logout">
      <button type="button">Account</button>
    </a>
  </div>
  <form method="POST" action="{{url_for('sendEmail')}}">
    <input type="submit" value="Send Email" />
  </form>
  {% for i in emails %}
  <ul>
    <li>{{i.sender}}</li>
    <li>{{i.subject}}</li>
    <li>{{i.message}}</li>
  </ul>
  {% endfor %}
  <p>{{message}}</p>
  {% endblock %}
</nav>
