{% extends "base.html" %} {% block title %}Change Password{% endblock %}
{% block content %}
<form action = "{{url_for('changePassword')}}" method = 'POST'>
    <div align="center" class="text-warning" style="justify-content: center; margin-top: 150px;">
        <h1>Changing your password?</h1>
        <label>Enter your username or email address: </label>
        <input id="username" type = 'text' name='username' placeholder="Username or Email" required>
        </br>
        </br>
        <label>Enter your current password: </label>
        <input id="current" type="text" name="current_password" placeholder="Enter your current password" required>
        </br>
        </br>
        <label>Confirm your current password: </label>
        <input id="again" type="text" name="check_current" placeholder="Enter your current password again" required>
        </br>
        </br>
        <label>Enter a new password: </label>
        <input id="new" type="text" name="new_password" placeholder="Enter a new password" required>
        </br>
        </br>
        <input id="trigger" type="submit" value="Change" class="btn btn-outline-warning">
    </div>
</form>
{% endblock %}