<!DOCTYPE html>
<html>
    <head>
        <title>Change Password Page</title>
    </head>
    <body>
        <form action = {{url_for('changePassword')}} method = 'POST'>
            <input id="username" type = 'text' name='username' placeholder="Enter your username" required>
            <input id="current" type="text" name="current_password" placeholder="Enter your current password" required>
            <input id="again" type="text" name="check_current" placeholder="Enter your current password again" required>
            <input id="new" type="text" name="new_password" placeholder="Enter a new password" required>
            <input id="trigger" type="submit" value="Change">
        </form>
    </body>
</html>