{% extends "base.html" %} {% block title %}Request messages{% endblock %} {%
  block navbar%}
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="
      background-color: rgba(247, 247, 247, 0.15);
      backdrop-filter: blur(5px);
    "
  >
    <a class="navbar-brand text-warning bold h4" href="/mailroom">SeaMail</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-warning" href="/enterance">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/todolist"
            >Todo List<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/outbox">Outbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/accounts">Other Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn text-warning" href="/logout">Your Account</a>
        </li>
      </ul>
      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          class="custom-control-input"
          id="customSwitches"
          onclick="myFunction()"
        />
        <label class="custom-control-label text-white" for="customSwitches"
          >Change your theme</label
        >
      </div>
    </div>
  </nav>
  {% endblock %} {% block content%}
  <div class="panel panel-default m-t-20 bg-white rounded overflow-hidden">
    <div class="panel-body">
      <h2>Chat request list for: {{user}}</h2>
      <table class="table table-striped">
        <tbody>
          {% for i in requests %}
          <tr>
            <td>
              <i class="fa fa-circle text-info m-r-15"></i>
              {{i.request}}
            </td>
            <td>
              <form method="POST" action="{{url_for('acceptOrDecline', oid=i._id)}}">
                <button class="btn btn-outline-dark" name="accept">accept</button>
                <button class="btn btn-outline-dark" name="decline">decline</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}
