<!-- The chatroom after enter the chat from Main Chat page-->
{% extends "base.html" %} {% block title %}Chatroom{% endblock %}

<!-- extra CSS add in to the page-->
{% block link%}rel="stylesheet" href="{{ url_for('static',
filename='public/mailroom.css') }}"{% endblock%}

<!-- Navbar of the page-->
{% block navbar%}
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="
    background-color: rgba(247, 247, 247, 0.15);
    backdrop-filter: blur(5px);
  "
>
  <a class="navbar-brand text-warning bold h4" href="/mailroom">SeaMail</a>

  <!-- Button to expand the collapsed navbar when the window is shrinked-->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Div contains links to other pages-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning" href="/enterance">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/todolist"
          >Todo List<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/outbox">Outbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/accounts">Other Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn text-warning" href="/logout">Your Account</a>
      </li>
    </ul>

    <!-- Button to toggle dark mode, call the myFunction() function in darkmode.js-->
    <div class="custom-control custom-switch">
      <input
        type="checkbox"
        class="custom-control-input"
        id="customSwitches"
        onclick="myFunction()"
      />
      <label class="custom-control-label text-warning" for="customSwitches"
        >Dark Mode</label
      >
    </div>
  </div>
</nav>
{% endblock %}

<!-- content of the page-->
{% block content %}
<div class="panel panel-default m-t-20 bg-white rounded">
  <div class="panel-body">
    <table class="table table-striped myTable">
      <tbody>
        <!-- For objects in 'chats' list-->
        {% for i in chats %}
        <tr>
          <td>
            <!-- Icon decoration to represent bulletpoints-->
            <i class="fa fa-circle text-info m-r-15"></i>

            <!-- Display name of sender-->
            {{i.sender}}
          </td>

          <!-- Display the message-->
          <td>{{i.message}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="inputs">
  <!-- Form that sends the request "Send" or "Exit the chat" to 'room' function through POST method-->
  <form action="{{ url_for('room') }}" method="POST">
    <input type="text" name="message" placeholder="Message" />
    <button class="btn btn-secondary" id="change" type="submit" name="send-btn">
      Send
    </button>
    <form method="POST" style="display: block; margin-right: auto">
      <button class="btn btn-secondary" type="submit" name="exit">
        Exit the chat
      </button>
    </form>
  </form>
</div>
{% endblock %}
