{% extends "base.html" %} {% block title %}TodoList{% endblock %}
{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(247, 247, 247, 0.15); backdrop-filter: >    <div class="container-fluid justify-content-center">
        <div class="navbar-header">
            <a class="navbar-brand text-warning bold h4" href="#">SeaMail</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link text-warning h4" href="/chat">Chat</a></li>
            <li class="nav-item"><a class="nav-link text-warning h4" href="/todolist">TodoList</a></li>
        </ul>
        <a class="nav-link btn btn-outline-dark" href="logout">Account</a>
    </div>
</nav>
{% endblock%}
<!DOCTYPE html>
<html>
    <head>
        <title>You're ToDo List</title>
    </head>
    <body>
        <h1>ToDo List</h1>
        <form method="POST" action="{{url_for('addTodo')}}">
            <label for="todoitem">Todo Item:</label>
            <input type="text" id="item" name="todoitem">
            <button type="submit">Add Todo</button>
        </form>
        {% for i in todos %}
        <ul>
            <li>
                {{i.item}}
                <form method="POST" action="{{url_for('remTodo')}}">
                    <button type="submit">Remove Todo</button>
                </form>
            </li>
        </ul>
        {% endfor %}
    </body>
</html>
 {% endblock %}

</nav>
