.Log-in-box
{
  background-color: rgba(247, 247, 247, 0.15);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
  width: 440px;
  height: 578px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(126, 119, 189, 0.6);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input{
  display: block;
  height: 50px;
  width: 90%;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(126, 119, 189, 0.6);
}

::placeholder{
  color: white;
  opacity: 0.5;
}


button{
  margin-top: 50px;
  width: 100%;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(126, 119, 189, 0.6);
  background: transparent;
  color: white;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  opacity: 0.8;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  border: 5px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(159, 154, 197, 0.6);
}